*{
    font-family: "Gill Sans" sans-serif;
    font: tahoma;
}

body{
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    
}

a {
    color: inherit;
}

.carousel {
    background-color: grey;
    align-items: center;
    display: block;
    margin: auto;
}

.carousel-item {
    padding: 50px 25%;
    align-items: center;
    height: 400px;
    background-color: #E8BBE8;
}

.carousel-image{
    width: 300px;
    height: 300px
}

.project-title{
    padding-top: 35vh;
    height: 85vh;
    background-image: url(./images/big_background.png);
    background-size: cover;
    color: aliceblue;
}

.section-title{
    padding-top: 40px;
    height: 140px;
    background-image: url(./images/big_background.png);
    background-size: cover;
    color: aliceblue;
    margin-bottom: 50px;
}

.section-title-text {
    font-size: 48px;
}

.intro {
    padding-top: 15vh;
    height: 100vh;
}

.intro-text-area {
    height: 500px;
    align-items: center;
    text-align: left;
    color: #000;
}

.intro-text {
    width: 55%;
    padding-left: 5%;
}

.intro-image{
    width: 50%;
    float: right;
}

.blink-arrow {
    padding: 5vh 0vh;
}

.theme-description {
    font-size: 16px;
}

.user-quote {
    font-size: 28px;
    background-image: url(./images/big_background.png);
    color: aliceblue;
    border-radius: 10px;
    width: 40%;
    background-size: cover;
}

.container{
    align-items: center;
}

.book{
    display: flex;
    align-items: center;
    width: 1300px;
    height: 700px;
    perspective: 12000px;
}

.cover, .back-cover{
    background-color: tan;
    height: 600px;
    width: 600px;
    border-radius: 2px 20px 20px 2px;
    box-shadow: 1px 1px 10px gray;
    transform: rotateX(10deg);
    position: absolute;
}

.cover{
    z-index: 1;
}

.page {
    height: 580px;
    width: 590px;
    background-color: whitesmoke;
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    transform: rotateX(10deg);
}

.page:nth-child(2) {
    transition-duration: 3s;

}

.playbook-viz{
    width: 75%;
    align-items: center;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.playbook-page {
    align-items: center;
}

footer{
    align-items: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: aliceblue;
    width: auto;
    height: 170px;
    background-image: url(./images/Gradient\ Futuristic\ Group\ Start\ Up\ Business\ Twitter\ Header.svg);
    background-size: cover;
}
